@page
@model PetShop.Pages_Agendamento.CreateModel

@{
    ViewData["Title"] = "Create";
}



<h4 id="cra">Agendamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Agendamento.DataAgendamento" class="control-label"></label>
                <input asp-for="Agendamento.DataAgendamento" class="form-control" />
                <span asp-validation-for="Agendamento.DataAgendamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agendamento.Serviços" class="control-label"></label>
                <input asp-for="Agendamento.Serviços" class="form-control" />
                <span asp-validation-for="Agendamento.Serviços" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Agendamento.Petivery" /> @Html.DisplayNameFor(model => model.Agendamento.Petivery)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

