@page
@model PetShop.Pages_Cadastro.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cadastro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cadastro.CadastroId" />
            <div class="form-group">
                <label asp-for="Cadastro.email" class="control-label"></label>
                <input asp-for="Cadastro.email" class="form-control" />
                <span asp-validation-for="Cadastro.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cadastro.NomeTutor" class="control-label"></label>
                <input asp-for="Cadastro.NomeTutor" class="form-control" />
                <span asp-validation-for="Cadastro.NomeTutor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cadastro.CPF" class="control-label"></label>
                <input asp-for="Cadastro.CPF" class="form-control" />
                <span asp-validation-for="Cadastro.CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cadastro.Telefone" class="control-label"></label>
                <input asp-for="Cadastro.Telefone" class="form-control" />
                <span asp-validation-for="Cadastro.Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cadastro.endereco" class="control-label"></label>
                <input asp-for="Cadastro.endereco" class="form-control" />
                <span asp-validation-for="Cadastro.endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cadastro.NomePet" class="control-label"></label>
                <input asp-for="Cadastro.NomePet" class="form-control" />
                <span asp-validation-for="Cadastro.NomePet" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cadastro.Especie" /> @Html.DisplayNameFor(model => model.Cadastro.Especie)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Cadastro.senha" class="control-label"></label>
                <input asp-for="Cadastro.senha" class="form-control" />
                <span asp-validation-for="Cadastro.senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cadastro.confirmaSenha" class="control-label"></label>
                <input asp-for="Cadastro.confirmaSenha" class="form-control" />
                <span asp-validation-for="Cadastro.confirmaSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

